<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ungdungnghenhac">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ungdungnghenhac">
        <activity android:name=".Activity.PlayNhacActivity"></activity>
        <activity android:name=".Activity.DanhSachTatCaAlbumActivity" />
        <activity android:name=".Activity.DanhSachTheLoaiTheoChuDeActivity" />
        <activity android:name=".Activity.DanhSachTatCaChuDeActivity" />
        <activity android:name=".Activity.DanhSachCacPlaylistActivity" />
        <activity android:name=".Activity.DanhSachBaiHatActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>